<nb-layout center>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div class="login-container">
                    <form [formGroup]="registrationForm" (ngSubmit)="submittedRegister()">
                        <span>Hello! Please indicate your name:</span>
                        <input type="text" class="form-control" formControlName="name" id="name" nbInput placeholder="Mick">
                        <ng-container *ngIf="submitted && forms['name'].invalid">
                            <p class="caption status-danger" *ngIf="forms['name'].errors?.['required']">
                                Name is required!
                            </p>
                        </ng-container>
                        <button nbButton status="info" type="submit">Let's chat!</button>
                    </form>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>